{% extends "layout.html" %}
{% block content %}
    {#    <h1>Welcome {{ session.username }}</h1>#}
    <div class="container-narrow">
        <h1>Blood pressure entry for {{ current_user.first_name }} {{ current_user.last_name }}</h1>
        <br/>
        <form id="logentryForm" class="form-horizontal" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.systolic.label(class_="col-sm-2 control-label") }}
                <div class="col-sm-10">
                    {{ form.systolic(placeholder="Systolic pressure (mmHg)", class_="form-control", type="number") }}
                </div>
            </div>
            <div class="form-group">
                {{ form.diastolic.label(class_="col-sm-2 control-label") }}
                <div class="col-sm-10">
                    {{ form.diastolic(placeholder="Diastolic pressure (mmHg)", class_="form-control", type="number") }}
                </div>
            </div>
            <div class="form-group">
                {{ form.heart_beats.label(class_="col-sm-2 control-label") }}
                <div class="col-sm-10">
                    {{ form.heart_beats(placeholder="Heart beats/minute", class_="form-control", type="number") }}
                </div>
            </div>
            <div>
                <hr/>
            </div>
            {#       <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            #}{#                            {{ form.measured_at.label(class_="col-sm-2 control-label") }}#}{#
                            <div class="input-group date" id="measured_at">
                                {{ form.measured_at(class_="form-control", type="text", id="") }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#measured_at').datetimepicker({
                                locale: 'pt'
                            });
                        });
                    </script>
                </div>
            </div>#}
            <br/>

            <div class="form-group">
                <label for="dtp_input1" class="col-md-2 control-label">DateTime Picking</label>
                <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z"
                     data-date-format="dd MM yyyy - HH:ii" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value=""/><br/>
            </div>

            <hr>
            <p><input class="btn btn-default btn-submit" type="submit" value="Register"></p>
        </form>

    </div>
{% endblock %}

